<div class="min-w-screen min-h-screen flex justify-center items-center py-5"
  (click)="focusOnInput()"
>
  <div class="max-w-lg">
    <div class="flex justify-between items-center mb-5">
      <h1 class="text-center text-lg font-bold">Wordle Game</h1>
      <button class="text-sm font-semibold px-3 py-2 bg-slate-200 rounded ease-in-out duration-150 hover:bg-slate-300"
        (click)="toggleGiveUpPopup()"
      >
        Give up
      </button>
    </div>

    <div class="flex justify-center">
      <div class="flex flex-col gap-2 relative">
        <div *ngFor="let row of board; let rowIndex = index" class="flex flex-row gap-2">
          <app-letter-box 
            *ngFor="let cell of row; let colIndex = index"
            [index]="colIndex"
            [letter]="cell"
            [isAnimateSubmit]="isSubmitRow[rowIndex]"
            [guessIndex]="getGuessIndex(rowIndex, colIndex)"
          >
          </app-letter-box>
        </div>

        <input 
          id="main_input"
          class="border absolute top-0 -left-64 opacity-0 -z-10"
          (input)="onInputChange($event)"
          (keydown)="onKeyDown($event)"
          [(ngModel)]="guess"
          maxlength="5"
        />
      </div>
    </div>

    <div class="flex justify-center">
      <div class="space-y-2 mt-5">
        <div *ngFor="let row of keyboardKeys" class="flex space-x-2 justify-center">
          <app-keyboard-key
            *ngFor="let key of row"
            [key]="key"
            (click)="onKeyboardUiChange(key)"
            [class]="keys[key]"
          >
          </app-keyboard-key>
        </div>
      </div>
    </div>
  </div>
</div>

<div 
  *ngIf="message"
  class="w-screen h-screen absolute top-0 left-0 right-0 mx-auto flex justify-center items-center"
>
  <div class="bg-white rounded-lg shadow-xl p-4">
    {{ message }}
  </div>
</div>

<div 
  *ngIf="isGiveUp"
  class="w-screen h-screen absolute top-0 left-0 right-0 mx-auto flex justify-center items-center"
>
  <div class="bg-white rounded-lg shadow-xl w-[350px] overflow-hidden">

    <div class="bg-blue-100 text-center font-bold p-3">
      You Lost!
    </div>
    
    <div class="flex flex-col p-5 gap-4">
      <h6 class="text-center text-sm">The answer was:</h6>
      <span class="border border-slate-400 border-dashed rounded w-fit p-2 flex mx-auto font-semibold tracking-wider">
        {{ gameService.targetWord }}
      </span>
      <button class="flex mx-auto w-fit text-sm font-semibold px-3 py-2 bg-blue-500 text-white rounded ease-in-out duration-150 hover:bg-blue-600"
        (click)="resetGame()"
      >
        NEW GAME
      </button>
    </div>

  </div>
</div>